* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to top, rgb(133, 215, 248), rgb(5, 47, 138));
    font: normal 15pt Arial;
    

}

body.mulher {
    background-image: linear-gradient(to top, rgb(248, 133, 191), rgb(138, 5, 138));
    font: normal 15pt Arial;

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;
}

p {
    padding: 5px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    /* background-color: aqua; */



    height: 10vh;
    border-bottom: 1px solid rgb(245, 245, 245);
    width: 100vw;


}

header>h1 {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.678);

}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.397);

}

div.space {
    height: 200px;
    width: 200px;

}

footer {
    color: white;

    font-style: italic;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.616);

}

img {
    width: 250px;
    height: 250px;
    border-radius: 50%;


}